body{
    background-color: rgb(163, 163, 163);
}

.header{
    width: 440px;
}

h1{
    font-family:'Lato', cursive;
    border-bottom: 4px solid red;
    padding-bottom: 5px;
    color: rgb(0, 0, 128);
}

.header #mainpara{
    font-family:'Lato', cursive;
    font-size: larger;
}

.matric{
    font-family:'Lato', cursive;
    margin: 25px;
}
.matric img{
    border-radius: 20px;
    border: 1px solid black;
}

.inter{
    font-family:'Lato', cursive;
    margin: 25px;
}
.inter img{
    border-radius: 20px;
    border: 1px solid black;
}

.bach{
    font-family:'Lato', cursive;
    margin: 25px;
}
.bach img{
    border-radius: 20px;
    border: 1px solid black;
}